webapp/target/webapp-1.0.0/style.css
webapp/target/
webapp/.settings/org.eclipse.wst.validation.prefs
webapp/.settings/org.eclipse.wst.jsdt.ui.superType.name
webapp/.settings/org.eclipse.wst.jsdt.ui.superType.container
webapp/.settings/org.eclipse.wst.common.project.facet.core.xml
webapp/.settings/org.eclipse.wst.common.component
webapp/.settings/org.eclipse.m2e.core.prefs
webapp/.settings/org.eclipse.jdt.core.prefs
webapp/.settings/org.eclipse.core.resources.prefs
webapp/.settings/.jsdtscope
webapp/.project
webapp/.classpath
services/target/test-classes/service-context-test.xml
services/target/test-classes/by/training/lysiuk/project/service/PlanSetServiceTest.class
services/target/test-classes/by/training/lysiuk/project/service/FacultyServiceTest.class
services/target/test-classes/META-INF/MANIFEST.MF
services/target/surefire-reports/by.training.lysiuk.project.service.PlanSetServiceTest.txt
services/target/surefire-reports/by.training.lysiuk.project.service.FacultyServiceTest.txt
services/target/surefire-reports/TEST-by.training.lysiuk.project.service.PlanSetServiceTest.xml
services/target/surefire-reports/TEST-by.training.lysiuk.project.service.FacultyServiceTest.xml
services/target/services-1.0.0.jar
services/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
services/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
services/target/maven-archiver/pom.properties
services/target/classes/service-context.xml
services/target/classes/by/training/lysiuk/project/service/impl/SubjectServiceImpl.class
services/target/classes/by/training/lysiuk/project/service/SubjectService.class
services/target/classes/by/training/lysiuk/project/service/PlanSetService.class
services/target/classes/by/training/lysiuk/project/service/EnroleeService.class
services/target/classes/by/training/lysiuk/project/service/impl/PlanSetServiceImpl.class
services/target/classes/by/training/lysiuk/project/service/impl/FacultyServiceImpl.class
services/target/classes/by/training/lysiuk/project/service/impl/EnroleeServiceImpl.class
services/target/classes/by/training/lysiuk/project/service/FacultyService.class
services/target/classes/META-INF/maven/by.training.lysiuk.project/services/pom.xml
services/target/classes/META-INF/maven/by.training.lysiuk.project/services/pom.properties
services/target/classes/META-INF/MANIFEST.MF
services/src/main/java/by/training/lysiuk/project/service/PlanSetService.java
services/src/test/java/META-INF/MANIFEST.MF
services/.settings/org.eclipse.wst.validation.prefs
services/.settings/
datamodel/target/
services/.project
services/.classpath
datamodel/.settings/
datamodel/.project
datamodel/.classpath
dataaccess/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
dataaccess/target/
dataaccess/.settings/
dataaccess/.project
dataaccess/.classpath
.settings/org.eclipse.m2e.core.prefs
.project
