.red-link {
	font-weight: bold;
	color: red
}

/*
table tr td,
table tr th {
	border: 1px solid black;
	border-collapse: collapse;
}*/

td {
  border: 2px solid lightgray;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

