<wicket:extend>

	<li><a wicket:id="link-faculties"><wicket:message key="menu.faculties"/></a></li>

	<li><a wicket:id="link-subjects"><wicket:message key="menu.subjects"/></a></li>

	<li><a wicket:id="link-enrollees"><wicket:message key="menu.enrollees"/></a></li>

	<li><a wicket:id="link-plans set"><wicket:message key="menu.plans set"/></a>
		<ul class="submenu">
			<li><a wicket:id="link-this year plans set"><wicket:message key="menu.this year plans set"/></a></li>
		</ul></li>

	<li><a class="red-link" wicket:id="link-logout"><wicket:message
				key="menu.logout" /></a></li>

</wicket:extend>