<wicket:panel>
	<ul class="menu">
		<li><a wicket:id="link-plans set this year"><wicket:message
					key="menu.plan set" /></a>
			<ul class="submenu">
				<li><a wicket:id="link-open sets"><wicket:message
							key="menu.open plans set" /></a></li>
			</ul></li>

		<li><a wicket:id="link-competition"><wicket:message
					key="menu.competition" /></a></li>

		<li><a wicket:id="link-registration"><wicket:message
					key="menu.register oneself" /></a></li>

		<li><a wicket:id="link-enrolled students"><wicket:message
					key="menu.enrolled students" /></a></li>

		<li><a wicket:id="link-statistics"><wicket:message
					key="menu.statistics" /></a></li>

		<li><a wicket:id="link-login"><wicket:message
					key="menu.login" /></a></li>

		<wicket:child />
	</ul>
</wicket:panel>